BUSINESS_ADDRESS=Toronto
CEREBRAS_API_KEY=
CEREBRAS_MODEL=qwen-3-235b-a22b-instruct-2507
COOKIE_SECRET=
CSRF_SECRET=
EMAIL_REPLYTO_ADDRESS=
EMAIL_SENDER_ADDRESS=
MAILGUN_API_KEY=
MAILGUN_DOMAIN=
MLB_API=https://statsapi.mlb.com
MONGO_APP=
MONGO_PASS=
MONGO_SRV=
MONGO_USER=
NODE_ENV=development
PLAYERS_URL=https://www.mlb.com/player
PORT=3000
TAVILY_API_KEY=
