body {
    background-color: aliceblue;
    font-family: sans-serif;
    margin: 20px;
    color: steelblue;
}

header {
    padding-bottom: 10px;
}

.exjayheading {
    color: darkred;
}

.dateselectdiv {
    display: flex;
    width: 85%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.exjaycheckbox {
    font-size: large;
    color: darkred;
}

.exjayselect {
    color: darkred;
    background-color: lightsteelblue;
    font-size: medium;
    padding: 6px 20px;
}
.exjayselect:invalid {
    color: lightgray;
}

.ytd_tables {
    display: none;
}

.motto {
    font-style: italic;
    color: navy;
    font-size: 12pt;
}

/* Sortable tables */
table.sortable thead {
    background-color: lightgray;
    color: steelblue;
    font-weight: bold;
    cursor: default;
    text-align: left;
    margin-bottom: 15px;
}
table th {
    padding: 6px;
    font-size: small
}
table td {
    padding: 4px;
    font-size: small
}
.tstat {
    text-align: center;
    color: darkred;
}
.logo {
    color: navy;
}

footer {
    color: navy;
    margin-top: 30px;
}

.subscribe {
    color: darkred;
    font-weight: bold;
}