body {
    background-color: aliceblue;
    font-family: sans-serif;
    margin: 20px;
    color: steelblue;
}

header {
    padding-bottom: 10px;
}

.exjayheading {
    color: darkred;
}

.motto {
    font-style: italic;
    color: navy;
    font-size: 12pt;
}

/* Sortable tables */
table.sortable thead {
    background-color: lightgray;
    color: steelblue;
    font-weight: bold;
    cursor: default;
    text-align: left;
    margin-bottom: 15px;
}
table th {
    padding: 6px;
    font-size: small
}
table td {
    padding: 4px;
    font-size: small
}
.tstat {
    text-align: center;
    color: darkred;
}

footer {
    color: navy;
    margin-top: 30px;
}