body {
    background-color: aliceblue;
    font-family: sans-serif;
    max-width: 800px;
    margin: 20px;
    color: steelblue;
}

header {
    padding-bottom: 10px;
}

p {
    color: navy;
    margin-bottom: 20px;
}

.exjayheading {
    color: darkred;
}

.exjaylist {
    color: steelblue;
    font-size: large;
    line-height: 2;
}

.exjaylist li::marker {
    content: ""; /* or "›", "→", "•", etc. */
}

.dateselectdiv {
    display: flex;
    width: 85%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.exjaycheckbox {
    font-size: large;
    color: darkred;
}

.exjayselect {
    color: darkred;
    background-color: lightsteelblue;
    font-size: medium;
    padding: 6px 20px;
}
.exjayselect:invalid {
    color: lightgray;
}

.exjayform {
    margin-top: 20px;
    margin-bottom: 80px;
    padding: 30px;
    border: 2px solid goldenrod;
    border-radius: 20px;
    background-color: cornsilk;
    font-size: large;
}

.motto {
    font-style: italic;
    color: navy;
    font-size: 12pt;
}

/* Sortable tables */
table.sortable thead {
    background-color: lightgray;
    color: steelblue;
    font-weight: bold;
    cursor: default;
    text-align: left;
    margin-bottom: 15px;
}
table th {
    padding: 6px;
    font-size: small
}
table td {
    padding: 4px;
    font-size: small
}
.tstat {
    text-align: center;
    color: darkred;
}
.logo {
    color: navy;
}

footer {
    color: navy;
    margin-top: 30px;
}

.exjayline {
    width: 60%;
    height: 3px; /* Adjust for thickness */
    background-color: steelblue; /* Adjust for color */
}

.subscribe {
    color: darkred;
    font-weight: bold;
}